:root {
--headings_font_category: @headings_font_category;
--body_font_category: @body_font_category;
--decor_font_category: @decor_font_category;
--body_background_image_url: @body_background_image_url;
--background_repeat: @background_repeat;
--background_size: @background_size;
--background_attachment: @background_attachment;
--background_position: @background_position;
--logo_height: @logo_height;
--basecolor: @basecolor;
--secondarycolor: @secondarycolor;
--headings_color: @headings_color;
--headings_font_family: @headings_font_family;
--headings_font_weight: @headings_font_weight;
--headings_base_size: @headings_base_size;
--headings_underline: @headings_underline;
--body_text_color: @body_text_color;
--body_font_family: @body_font_family;
--body_font_weight: @body_font_weight;
--body_base_size: @body_base_size;
--link_color: @link_color;
--link_font_weight: @link_font_weight;
--link_underline: @link_underline;
--price_color: @price_color;
--price_font_weight: @price_font_weight;
--price_underline: @price_underline;
--decor_color: @decor_color;
--decor_background_color: @decor_background_color;
--decor_font_family: @decor_font_family;
--decor_font_weight: @decor_font_weight;
--decor_base_size: @decor_base_size;
--decor_underline: @decor_underline;
--general_radius: @general_radius;
--body_background_color: @body_background_color;
--body_background_style: @body_background_style;
--body_inner_background_color: @body_inner_background_color;
--pagination_base_color: @pagination_base_color;
--pagination_secondary_color: @pagination_secondary_color;
--pagination_active_base_color: @pagination_active_base_color;
--pagination_active_secondary_color: @pagination_active_secondary_color;
--show_product_price: @show_product_price;
--show_popular_products: @show_popular_products;
--show_product_out_of_stock_filter: @show_product_out_of_stock_filter;
--show_product_category: @show_product_category;
--show_price_filter: @show_price_filter;
--show_stock_filter: @show_stock_filter;
--show_promo_filter: @show_promo_filter;
--show_new_filter: @show_new_filter;
--show_categories_filter: @show_categories_filter;
--show_brands_filter: @show_brands_filter;
--show_tags_filter: @show_tags_filter;
--show_rating_filter: @show_rating_filter;
--show_badge_out_of_stock: @show_badge_out_of_stock;
--badge_out_of_stock_background_color: @badge_out_of_stock_background_color;
--badge_out_of_stock_text_color: @badge_out_of_stock_text_color;
--show_badge_soon: @show_badge_soon;
--badge_soon_background_color: @badge_soon_background_color;
--badge_soon_text_color: @badge_soon_text_color;
--show_badge_promo: @show_badge_promo;
--badge_promo_background_color: @badge_promo_background_color;
--badge_promo_text_color: @badge_promo_text_color;
--show_badge_new: @show_badge_new;
--badge_new_background_color: @badge_new_background_color;
--badge_new_text_color: @badge_new_text_color;
--social_rss: @social_rss;
--button_primary_background_color: @button_primary_background_color;
--button_primary_text_color: @button_primary_text_color;
--button_primary_border_color: @button_primary_border_color;
--button_primary_border_thickness: @button_primary_border_thickness;
--button_primary_border_radius: @button_primary_border_radius;
--button_primary_font_weight: @button_primary_font_weight;
--button_default_background_color: @button_default_background_color;
--button_default_text_color: @button_default_text_color;
--button_default_border_color: @button_default_border_color;
--button_default_border_thickness: @button_default_border_thickness;
--button_default_border_radius: @button_default_border_radius;
--button_default_font_weight: @button_default_font_weight;
--button_shadow_color: @button_shadow_color;
--button_shadow_horizontal_offset: @button_shadow_horizontal_offset;
--button_shadow_vertical_offset: @button_shadow_vertical_offset;
--button_shadow_blur: @button_shadow_blur;
--input_background_color: @input_background_color;
--input_text_color: @input_text_color;
--input_border_color: @input_border_color;
--input_border_thickness: @input_border_thickness;
--input_border_radius: @input_border_radius;
--input_padding: @input_padding;
--well_featured_background_color: @well_featured_background_color;
--well_featured_text_color: @well_featured_text_color;
--well_featured_border_color: @well_featured_border_color;
--well_featured_border_thickness: @well_featured_border_thickness;
--well_featured_border_radius: @well_featured_border_radius;
--well_default_background_color: @well_default_background_color;
--well_default_text_color: @well_default_text_color;
--well_default_border_color: @well_default_border_color;
--well_default_border_thickness: @well_default_border_thickness;
--well_default_border_radius: @well_default_border_radius;
--well_info_background_color: @well_info_background_color;
--well_info_text_color: @well_info_text_color;
--well_info_border_color: @well_info_border_color;
--well_info_border_thickness: @well_info_border_thickness;
--well_info_border_radius: @well_info_border_radius;
--well_danger_background_color: @well_danger_background_color;
--well_danger_text_color: @well_danger_text_color;
--well_danger_border_color: @well_danger_border_color;
--well_danger_border_thickness: @well_danger_border_thickness;
--well_danger_border_radius: @well_danger_border_radius;
--well_warning_background_color: @well_warning_background_color;
--well_warning_text_color: @well_warning_text_color;
--well_warning_border_color: @well_warning_border_color;
--well_warning_border_thickness: @well_warning_border_thickness;
--well_warning_border_radius: @well_warning_border_radius;
--well_success_background_color: @well_success_background_color;
--well_success_text_color: @well_success_text_color;
--well_success_border_color: @well_success_border_color;
--well_success_border_thickness: @well_success_border_thickness;
--well_success_border_radius: @well_success_border_radius;
--well_shadow_color: @well_shadow_color;
--well_shadow_horizontal_offset: @well_shadow_horizontal_offset;
--well_shadow_vertical_offset: @well_shadow_vertical_offset;
--well_shadow_blur: @well_shadow_blur;
--card_text_align: @card_text_align;
--card_background_color: @card_background_color;
--card_text_color: @card_text_color;
--card_border_color: @card_border_color;
--card_border_thickness: @card_border_thickness;
--card_border_radius: @card_border_radius;
--card_padding: @card_padding;
--card_shadow_color: @card_shadow_color;
--card_shadow_horizontal_offset: @card_shadow_horizontal_offset;
--card_shadow_vertical_offset: @card_shadow_vertical_offset;
--card_shadow_blur: @card_shadow_blur;
--slideshow_height: @slideshow_height;
--slideshow_mobile_height: @slideshow_mobile_height;
--slideshow_background_position_y: @slideshow_background_position_y;
--slideshow_background_position_x: @slideshow_background_position_x;
--slideshow_background_size: @slideshow_background_size;
--gallery_mask_color: @gallery_mask_color;
--gallery_text_color: @gallery_text_color;
--gallery_button_background_color: @gallery_button_background_color;
--gallery_button_text_color: @gallery_button_text_color;
--modal_background_color: @modal_background_color;
--modal_text_color: @modal_text_color;
--modal_border_color: @modal_border_color;
--modal_border_thickness: @modal_border_thickness;
--modal_border_radius: @modal_border_radius;
--modal_mask_color: @modal_mask_color;
--modal_mask_blur: @modal_mask_blur;
--modal_shadow_color: @modal_shadow_color;
--modal_shadow_horizontal_offset: @modal_shadow_horizontal_offset;
--modal_shadow_vertical_offset: @modal_shadow_vertical_offset;
--modal_shadow_blur: @modal_shadow_blur;
--header_background_color: @header_background_color;
--header_text_color: @header_text_color;
--top_bar_background_color: @top_bar_background_color;
--top_bar_text_color: @top_bar_text_color;
--menu_bar_background_color: @menu_bar_background_color;
--menu_bar_text_color: @menu_bar_text_color;
--footer_background_color: @footer_background_color;
--footer_text_color: @footer_text_color;
--footer_images_height: @footer_images_height;
--show_special_shape: @show_special_shape;
--show_categories_blur: @show_categories_blur;
--show_section_products_featured: @show_section_products_featured;
--show_section_products_new: @show_section_products_new;
--show_section_products_promo: @show_section_products_promo;
--show_section_products_sales: @show_section_products_sales;
--show_section_brands: @show_section_brands;
--brands_height: @brands_height;
--show_section_bestseller: @show_section_bestseller;
--show_section_blog: @show_section_blog;
--show_section_contacts: @show_section_contacts;
--show_section_social: @show_section_social;
--homepage_blocks_background_color: @homepage_blocks_background_color;
--homepage_blocks_text_color: @homepage_blocks_text_color;
--show_product_zoom: @show_product_zoom;
--show_product_brand: @show_product_brand;
--show_product_tags: @show_product_tags;
--show_product_custom_fields: @show_product_custom_fields;
--show_section_gpsr: @show_section_gpsr;
--show_location_map: @show_location_map;
--show_coupon_input: @show_coupon_input;
--show_cart_data_button: @show_cart_data_button;
}